{% extends "layout.html" %}
{% block body %}

<h2>Hakkımızda</h2>
<hr>

 <h3 style="margin-bottom:30px;">VİZYONUMUZ</h3>
<p>
    Öğrenciler ve iş hayatı arasındaki paravanı kaldıran ve köprü görevi görerek öğrencileri iş dünyasına hazırlayıp iş
    deneyimi ve kişisel gelişim fırsatları sunan platform , önceliği Türkiye olmak üzere dünyadaki “önemli” yetenek
    açığını kapatma vizyonu ile ortaya çıkmıştır. Ülkedeki mavi yaka iş maaşlarının beyaz yaka iş maaşlarından daha
    fazla olmaya başlaması , çoğu yeni mezunun işsiz kalması , şirketlerin aradığı çalışanı bulamaması , üniversite
    öğrencilerinin hangi alana yöneleceğine karar verememesi ve hangi becerilerin mezun olacakları zamanda/çalışacakları
    zamanda daha önemli olacağını öngörememesi vb. bir sürü soruna çözüm üretecektir.
    Stajyer adaylarının , çalışan adaylarının , belirsiz staj/iş bulma sürecini aydınlatarak destek olmak bizim için
    bir onurdur.
</p>
<hr>
<h3 style="margin-bottom:30px;">MİSYONLARIMIZ</h3>
<p>
    Üniversite öğrencilerinin sektörlerindeki şirketlerin hangi teknolojileri kullanmaya başladığını güncel bir şekilde takip ederek iş dünyasına hazır bir şekilde mezun olmalarını sağlamak
    <br>
	Öğrencilerin sektörlerindeki şirketlerde iş süreçlerinin nasıl işlediğini anlamasını sağlamak
    <br>
	Öğrencilerin üniversitede ve eğitim-öğretim hayatlarında daha önce görmedikleri ve bilmedikleri yöntemleri ve araçları öğrencilere göstermek
    <br>
	Şirketlerin tam olarak aradıkları çalışanı bulmaları için öğrencilerle nasıl iş birliği yapacaklarını öğretmek
    <br>
    Şirketlerin öğrencilere mesleklerini nasıl yapacaklarını öğretmesini sağlamak
    <br>
	Öğrencileri sektörün ihtiyaçlarına ve isteklerine hazırlamak
    <br>
	Şirketleri potansiyelini beğenebileceği öğrencilere ulaştırmak
    <br>
	Şirketlerdeki yetenek açığını kapatarak çalışan arama süresini azaltmak
    <br>
	Yetenek açığını kapatarak ülkelerin gelişimini hızlandırmak
    <br>
	İş bulamayan insanların iş bulmasını sağlamak
    <br>
    Yeni mezunlara rehber olmak
    <br>
    Öğrencilerin iş dünyasındaki gelişmeleri güncel ve gerçek zamanlı bir şekilde takip etmesini sağlayarak iş bulmalarına yardımcı olmak

</p>

{% endblock body %}